@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: "SourceSansPro";
  src:url(../fonts/SourceSansPro-Regular.otf)
 
}
@font-face {
  font-family: "SourceSansProBold";
  src: url(../fonts/SourceSansPro-Bold.otf);
 
}
ul, p{
	margin: 0px;
	padding: 0px;
}
h2{
	font-family:SourceSansProBold;
}
body{
	margin: 0px;
	font:normal 16px/18px "SourceSansPro";
	color: #444444;
}
textarea {
	font:normal 16px/20px "SourceSansPro";
	color: #444444;
}
.alert_error{ color: red; }
.alert_success {color: green;}
.alert {
    text-align: center;
    margin-top: 10px;
}
.header{
}
.logo {
	float: left;
	clear: left;
	margin-right: 35px;
	padding: 10px;

}
.menu {
    float: left;
	margin-top: 20px;
}
.menu li {
	display: inline;
	color: #999;
    padding: 15px;
	font-family:SourceSansPro;
}
.menu li a{
	color: #444444;
	text-decoration:none;
}
.menu li.active{
	display: inline;
	color: #0CF !important; 
    padding: 15px;
	font-family:SourceSansProBold !important;
}
.menu li.active a{
	color: #0CF !important; 
}

.profile{
	float: right;
	clear: right;
    display: -webkit-inline-box;
}
.notification{
	display: inline-block;
	vertical-align:middle;
    list-style: none;
}
.notification_icon{
	background-color: #d34220;
    color: #FFF;
    border-radius: 20px;
    width: 20px;
    position: absolute;
    top: 9px;
    font-size: 16px;
    text-align: center;
	height: 20px;
	line-height: 18px;
	position: absolute;
    left: 30px;
}
.message_icon{
	background-color: #c0d320;
    color: #FFF;
    border-radius: 20px;
    width: 20px;
    position: absolute;
    top: 9px;
    font-size: 16px;
    text-align: center;
	height: 20px;
	line-height: 18px;
	position: absolute;
    left: 30px;
}
.notification li{
	padding: 12px 15px;
	font-size: 30px;
	color: #aaaaaa;
	position:relative;
	display: inline-block;
	vertical-align:middle;
}
.user_icon{
	padding: 0px;
	display: inline-block;
	vertical-align:middle;
	margin-left: 30px;
}
.user_name{
	padding: 0px;
	font-family: SourceSansPro;
	display: inline-block;
	vertical-align:middle;
	margin-left: 10px;
	
}
.settings {
	display: inline-block;
	vertical-align:middle;
    font-size: 25px;
    background-color: #b3b7b6;
    color: white;
    text-align: center;
    height: 63px;
    padding-top: 28px;
    margin-left: 50px;
    width: 70px;
}
.clear{
	clear:both;
}
/* header end */
.main_body{
	background-color:#dddddd;
	
}
.sidebar {
    background-color: #01bfe3 !important;
    min-height: 750px !important;
    padding: 0 !important;
}
.sidebar ul{
	background-color: #666666;
    list-style: outside none none;
    margin: -1px 1px 0;
    padding: 0;
    width: 100%;
	
}
.sidebar .navbar-header {
    background-color: #fff;
    display: inline-block;
    float: unset;
    padding: 15px;
    width: 100%;
}
.sidebar .navbar-header i.fa {
    color: #444;
    float: left;
}

.sidebar li {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    color: #dfdfdf;
	font-family:SourceSansPro;
	position:relative;
}
.sidebar li a {
	display:block;
	position:relative;
	color:#FFF;
	padding: 15px;
	text-decoration:none;
	
}
.sidebar li.active {
    background-color: #353535;
}
.sidebar i {
    font-size: 30px;
	color: #fff;
	display:inline-block;
	width: 50px;
	text-align: center;
	margin-right: 15px;
	vertical-align:middle;
}
.sidebar .navbar-brand {
    color: #444;
    height: 30px;
    padding: 3px;
}

.msg_no{
	border-radius: 20px;
    background-color: #ffffff;
    font-size: 16px;
    height: 25px;
    width: 25px;
    line-height: 15px;
    padding: 5px;
    color: #000000;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -10px;
    text-align: center;
	
}
.not_no{
	border-radius: 20px;
    background-color: #ffffff;
    font-size: 16px;
    height: 14px;
    width: 14px;
    line-height: 14px;
    padding: 5px;
    color: #000000;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}
.content {
    background-color: #fafafa;
}
.profile-des {
    display: inline-block;
    padding: 25px 25px 0;
    width: 100%;
}
.wraper{
	background-color: #fafafa;
	padding: 25px;
	
}
.login-page .panel.panel-default {
    background-color: #fafafa;
}
.profile-area .chart2 {
    margin-bottom: 10px;
}
.wraper h2 {
    font-family: SourceSansProBold;
    font-size: 24px;
    font-weight: bold;
    margin: 60px 0 15px;
}
.description > p {
    margin-bottom: 15px;
}
.wraper hr{
	margin-top: 59px;
}
.profile_pic {
    float: left;
}
.profile-des .profile_pic {
    width: auto !important;
}
.user_details h3.main-heading {
    font-size: 18px;
    margin: 20px 0 15px;
    padding: 0;
    text-align: left;
}
.chart2{
	margin-bottom: 20px;
}
.chart2 ul{
	margin: 0px 0px 5px 0px;
    overflow: hidden;
	padding: 0px;
}
.chart2 li{
	line-height:1.5em;
	display:inline-block;
}

.user_details span a {
    background-color: #dddddd;
    border: medium none;
    border-radius: 20px;
    padding: 5px 22px;
    text-align: center;
    width: 70px;  
    text-decoration: none;
    color: #444444;
}
.description{
	padding-top: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	
}
.chart1{
	padding-top: 20px;
}
.chart1 ul{
	margin: 0px 0px 5px 0px;
    overflow: hidden;
	padding: 0px;
}
.chart1 li{
	line-height:1.5em;
	display:inline-block;
}
.col1{
	width: 200px;
}
.col2{
	
}
.list td{
	padding-right: 100px;
}
.container-high{
	max-width: 2500px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}
.desktop .right-header {
    margin-left: 272px;
    padding: 15px 20px;
}
.left-header {
    display: inline-block;
    float: left;
    padding: 10px 15px 10px 0;
    width: 13%;
    min-width: 272px;
}

html body {
    background-color: #ddd;
    color: #444;
    font-family: SourceSansPro;
    font-size: 16px;
}
.profile_pic > img {
    object-fit: cover;
    width: 100%;
}
.profile-area {
    padding: 25px !important;
}
.container{
	margin: 20px auto;
	background-color: #fff;
}
.header-bar .panel{
	margin-bottom: 0px;
}
html body.home-page{
	background-color: #fff;
}
.login-page .panel.panel-default {
    border: 0 none;
    box-shadow: none;
    padding: 20px 10px;
}
body > .container {
    min-height: 765px;
    background-color: #fafafa;
}
.panel-body .form-horizontal .control-label{
	text-align: left;
    font-weight: normal;
}
.main-menuu .navbar-right {
    width: 100%;
}
.main-menuu .right-links {
    float: right;
    margin-right: 80px;
    position: unset;
}
.login-page h3 {
    font-family: sourcesanspro !important;
    font-size: 20px;
}
nav.navbar-static-top {
    position: relative;
}
.dropdown-toggle.login-name.settings {
    background-color: #b3b7b6;
    height: 91px !important;
    position: absolute;
    right: -5px;
    top: -8px;
    border-radius: 0;
}
.login-name .fa.fa-cog {
    font-size: 25px;
    margin-top: 46%;
}
.right-links .dropdown-toggle.login-name:focus{
    background-color: #b3b7b6;
}

/*footer section*/
footer{
	text-align:center;
	background-color: #888888;
	padding:20px;
	color:#FFF;
}
.footer_menu{
	display: inline-block;
    list-style: outside none none;
}
.footer_menu li{
	border: white;
    border-right-style: solid;
    padding-right: 10px;
    padding-left: 10px;   
	border-width: thin; 
	display: inline;
}
.footer_menu li a{
	color:#FFF;
	text-decoration: none;
	
}
.footer_menu > li:last-child {
    border: medium none;
}
.header-bar .navbar{
	margin-bottom: 0px;
}

/* Register */
 .custom-j-class {
    width: 30%;
    margin-right: 20px;
 }
 .custom-j-class:nth-child(5){
    float: right;
    margin: 0;
 } 
 /* Register */


/*edit section*/
.upload_icon{
	margin-top: 212px;
}
.upload_icon span{
	background-color: #dddddd;
    border-radius: 20px;
	padding: 5px 21px;
}
.chart3{
	padding-top: 20px;
}
.chart3 ul{
	margin: 0px 0px 20px 0px;
    overflow: hidden;
	padding: 0px;
}
.chart3 li{
	line-height: 1.5em;
	display: inline-block;
}
.chart3 .col2{
	width: 50%;
}
.text_box{
	width: 100%;
	border-radius: 7px;
	border: 1px solid #dddddd;
	padding: 10px;
}
.short_description{
	margin-bottom: 20px;
}
.description_area{
    border: 1px solid rgb(221, 221, 221);
    margin: 0px;
    width: 90%;
    height: 96px;
	border-radius: 7px;
	padding:10px;
}

.activities ul{
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 10px;
   
}
.activities li{
	width:25%;
	line-height: 1.5em;
    float: left;
    display: inline-block;
    width: 200px;
	margin-top: 10px;
}

.activities h3{
	display: inline;
	margin-right: 10px;
}   
.select_box {
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: inline-block;
    min-width: 100px;
    padding: 4px;
}
.save_field{
    margin-left: 210px;
}
.save_button{
	width: 160px;
    background-color: #01bfe3;
    border-radius: 20px;
    padding: 5px;
    border: none;
    color: white;
    font-size: 16px;
    height: 41px;
}
.cancel_button{
	width: 160px;
    background-color: #01bfe3;
    border-radius: 20px;
    padding: 5px;
    border: none;
    color: white;
    font-size: 16px;
    height: 41px;
	margin-left: 10px;
}

/*photo /*/
.photos{
    display: inline-block;
}
.photo_head h3{
	display: inline;
    margin-right: 10px;
}
.photo_head i{
	font-size: 25px;
	margin-left: 25px;
	margin-right: 10px;
}
.pic_item{
	background-color:#b3b3b3;
	width:233px;
	height:233px;
	float:left;
	margin-left: 30px;
	margin-right:30px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 10px 10px  #a1a1a1;
}
.upload_button{
	width: 160px;
    background-color: #01bfe3;
    border-radius: 20px;
    padding: 5px;
    border: none;
    color: white;
    font-size: 16px;
    height: 41px;
	margin-left: 25px;
}

/*photos end */
.contact-form-data {
    padding-bottom: 15px;
}

/* friendRequest*/
.friend_request{
}
.friend_request .text_box{
	width: 30%;
	margin-left: 20px;
}
.request_box{
	border-top: 1px solid #dddddd;
	margin-top: 20px;
}
.request_box ul{
	list-style: none;
}
.request_box ul li{
    border: 1px solid #dddddd;
	margin-bottom: 5px;
	width: 380px;
	position:relative;
	
}
.request_box ul li img{
    width: 50px;
    height: 50px;
    background-color: #f1efef;
    margin: 5px 11px 5px 5px;
    display: inline-block;
    vertical-align: middle;
}
.request_box ul li p{
    display: inline-block;
    vertical-align: middle;
}
.request_box ul li i{
	font-size: 40px;
	display: inline-block;
    vertical-align: middle;
	
}
.request_box ul li .fa-check-circle{
	color: #19c8e9;
	position:absolute;
	right: 70px;
	top:15px;
	
	
}
.request_box ul li .fa-times-circle{
	color:#cccccc;
	position:absolute;
	right: 20px;
	top:15px;
}

.friends_box{
	border-top: 1px solid #dddddd;
	margin-top: 20px;
}
.friends_box ul {
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 10px;
}
.friends_box li {
	line-height: 1.5em;
    float: left;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid #dddddd;
    margin-bottom: 5px;
    width: 380px;
    position: relative;
	margin-right: 10px;
}

.friends_box ul li img {
    width: 50px;
    height: 50px;
    background-color: #f1efef;
    margin: 5px 11px 5px 5px;
    display: inline-block;
    vertical-align: middle;
}
.friends_box ul li p{
    display: inline-block;
    vertical-align: middle;
}
.friends_box ul li i{
	font-size: 20px;
	display: inline-block;
    vertical-align: middle;
	background-color:#cccccc;
	padding:10px;
	border-radius:20px;
	
	
	
}

.friends_box ul li .fa-comment{
	color:#FFF;
	position:absolute;
	right: 20px;
	top:15px;
}

.you_may_know{
	border-top: 1px solid #dddddd;
	margin-top: 20px;
}
.you_may_know ul {
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 10px;
}
.you_may_know li {
	line-height: 1.5em;
    float: left;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid #dddddd;
    margin-bottom: 5px;
    width: 380px;
    position: relative;
	margin-right: 10px;
}

.you_may_know ul li img {
    width: 50px;
    height: 50px;
    background-color: #f1efef;
    margin: 5px 11px 5px 5px;
    display: inline-block;
    vertical-align: middle;
}
.you_may_know ul li p{
    display: inline-block;
    vertical-align: middle;
}
.you_may_know ul li i{
	font-size: 40px;
	display: inline-block;
    vertical-align: middle;
}

.you_may_know ul li .fa-plus-circle{
	color:#cccccc;
	position:absolute;
	right: 20px;
	top:15px;
}


/*notification8/*/
.notification_head{
	margin-bottom: 20px;
}
.notification_head h3{
	display: inline;
    margin-right: 10px;
}
.notification_head i{
	font-size: 25px;
	margin-left: 25px;
	margin-right: 10px;
    color: #666666;
}
.notification_box{
	padding-top: 20px;
}
.notification_box ul{
	list-style:none;
}
.notification_box ul li{
	padding:8px 10px;
	background-color: #f1f1f1;
	margin-bottom: 3px;
    color: #808080;
}
.notification_box ul li.active{
	background-color:#dddddd;
	font-weight:bold;
}
.notification_box ul li .check_box{
	margin-right: 10px;
}
.mark_as_read{
	display: inline;
	margin-left:40px;
	font-weight:bold;
}
.select_all{
	display: inline;
	font-weight:bold;
}
/*message*/

.message{
	border-top: 1px solid #dddddd;
    margin-top: 15px;
    padding-top: 15px;
	display: flex;
}

.message_list{
	float: left;
	width: 300px;
	
}
.message_list ul{
	list-style: none;
}
.message_list ul li{
    border: 1px solid #dddddd;
    margin-bottom: 5px;
	width: 100%;
}
.message_list ul li.active{
	background-color:#f0f0f0;
    /*padding-right: 5px;*/
	z-index: 999;
    position: relative;
    border-right: 0;
    width: 102%;
}
.message_list ul li img{
	width: 50px;
    height: 50px;
    background-color: #f1efef;
    margin: 5px 11px 5px 5px;
    display: inline-block;
    vertical-align: middle;
   
}
.message_list ul li p{
    display: inline-block;
    vertical-align: middle;
   
}

.message_box{
	width: 455px;
	background-color: #f0f0f0;
	border: 1px solid #dddddd;
	margin-left: 5px;
	position: relative;
	overflow: hidden;
    float: left;
}
.box1 {
    overflow-y: scroll;
    height: 500px;
    margin-bottom: 75px;
}
.box2{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #dddddd;
    padding: 9px;
	display:flex;
}
.send_button{
    width: 100px;
    background-color: #01bfe3;
    border-radius: 20px;
    padding: 5px;
    border: none;
    color: white;
    font-size: 16px;
    height: 41px;
    margin-left: 5px;
    margin-right: 5px;
}
.box2 .text_box {
    border-radius: 0;
    padding: 5px;
    width: 76%;
    resize: none;
}
.send_box{
	margin-top: 10px;
	text-align: right;
}

.reply_box{
	margin-top:5px;
    display: inline-block;
    width: 100%;
}

.reply_box span, .send_box span {
    white-space: pre-wrap;
}
.ch1{
    width: 350px;
    background-color: #dddddd;
    padding: 5px 10px;
	margin-left: 10px;
    border-radius: 5px;
    word-break: break-all;
    padding-bottom: 20px;
    position: relative;
}
.ch2{
    width: 350px;
    background-color: #01bfe3;
    padding: 5px 10px;
    float: right;
	margin-right: 10px;
    border-radius: 8px;
    color: #fff;
    word-break: break-all;
    margin-bottom :5px;
    padding-bottom: 20px;
    position: relative;
}
.ch2 > p {
    margin: 0;
    padding: 0;
}
span.chat_time {
    position: absolute;
    bottom: 0px;
    float: right;
    right: 6px;
    font-size: 10px;
}

/*subscription*/
.page_head{
}
.page_head h3{
	display: inline;
    margin-right: 10px;
}
.page_head i{
	font-size: 35px;
	margin-right: 10px;
}

.subscription_item span{
    background-color: #01bfe3;
    bottom: 0;
    color: #fff;
    padding: 4px 10px;
    position: absolute;
    right: 0;
}
.content .subscriptions {
    display: inline-block;
    padding: 20px 15px 20px 25px;
}
.subscriptions h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}


/*settings/*/
.settings_wraper{
    background-color: #fafafa;
    padding: 25px;
	float:left;
	width:65%;
}
.right_sidebar{
	background-color: #fafafa;
    margin-left: 30px;
    display: inline-block;
    width: 25%;
}
.right_sidebar span{
    display: flex;
    padding: 20px;
}
.right_sidebar span i{
	font-size:30px;
	margin-right:20px;
}
.right_sidebar span p{
	padding-top:6px;
}
.settings_content{
	border-top: 1px solid #dddddd;
    margin-top: 15px;
}

/*testimonials/*/
.main_body_test{
	background-color:#dddddd;
	padding:20px;
	
}
.testimonials div{
	background-color: #ededed;
	padding:10px 15px;
	border-radius: 10px;
	line-height:27px;
	margin-top:10px;
} 
.testimonials h3 {
    font-family: sourcesanspro;
    font-size: 18px;
    margin: 10px auto;
    padding: 5px !important;
}
.testimonials .test-person {
    font-weight: bold;
    padding: 0px;
    text-align: right;
}
.testimonials {
    background-color: transparent !important;
    display: inline-block;
    margin: 0 !important;
    max-width: unset !important;
    width: 100%;
}
.home-drop .image-small {
    margin-right: 5px;
}
.home-drop {
    line-height: 40px !important;
}
.testimonials h3 {
    padding: 0;
}
/*location */
.location{
    border-top: 1px solid #dddddd;
}

/*faq */
.message-page .form-heading .fa{
    font-size: 25px;
    margin-left: 25px;
    margin-right: 10px;
}
.message-page h3.form-heading {
    padding-top: 5px;
}
.faq_answer{
    background-color: #ededed;
    padding: 10px;
    border-radius: 10px;
    line-height: 27px;
    margin-top: 10px;
}
.faq .ui-state-active{
    border: none;
    background: none;
    font-weight: normal; 
    color: #000;
}
.faq .ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
    border-radius: 7px;
    margin-left: 15px;
	height:auto !important;
}
.faq .ui-widget-content {
    border: none;
    background: #ededed;
    color: #333333;
}
.faq .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: none;
    font-weight: normal;
    color: #454545;
}
.faq .ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image:url(images/ui-icons_444444_256x240.png);
}
/*activities*/
.activity,
.faq,
.login,
.search,
.result,
.testimonials {
    background-color: #fafafa;
    padding: 25px;
	margin:0 auto;
	/*max-width:1100px;
    min-height: 720px;*/

}
.faq h3 {
    font-family: sourcesanspro !important;
    font-size: 20px;
}
.faq .panel-body {
    border: medium none !important;
    font-family: arial;
    padding: 15px 30px;
}
.faq .panel.panel-default {
    padding-left: 30px;
}
.faq .panel-collapse.collapse.in {
    border-radius: 7px;
    margin: 0 20px 0 0;
}
.activity div {
    color: #333;
    padding: 5px 15px;
}
.activity p {
    color: #888;
    line-height: 20px;
}
.activity h3 {
    font-family: sourcesanspro !important;
    font-size: 20px;
    margin-bottom: 20px;
}
.activity h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

/*activities*/
.search .profile_pic {
    float: left;
    width: 260px;
    height: 260px;
    background-color: #d4d4d4;
	margin-right: 20px;
}
.search .col1{
	width: 120px;
}

.result_head{
	background-color:#f2f2f2;
	padding: 30px;
}
.result .select_box {
    width: 150px;
    border-radius: 7px;
    border: 1px solid #dddddd;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
}
.search_result{
    padding: 0px 18px 25px 25px;
}
.search_result .profile_pic {
    float: left;
    width: 150px;
    height: 150px;
    background-color: #d4d4d4;
    margin-right: 20px;
}
.search_result ul{
	list-style:none;
}
.search_result ul li{
    background-color: #f4f2f2;
    display: inline-block;
	margin-top: 3px;
	padding-right: 10px;
}
.details1 {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: justify;
    min-height: 50px;
}
.pagination{
	margin-top: 25px;
	margin-bottom: 10px;
}
.pagination span{
	padding:2px 10px 4px 10px;
	background-color:#666666;
	color: #FFF;
}
.pagination p{
	display: inline;
    padding: 5px 10px 5px 10px;

}
.pagination .active{
	background-color: #00bfe3;
	color:#FFF;

}
.new_head{
	padding:27px;
}
.new_body{
    display: inline-block;
    margin: 0 auto;
    padding: 10% 0;
}
.signin_button{
	width: 77px;
    background-color: #4584ed;
    border-radius: 2px;
    padding: 5px;
    border: none;
    color: white;
    font-size: 16px;
    height: 41px;
	float:right;
}
.new_body .logo {
    float: unset;
    margin: 0;
}
.new_body .text_box, #missing_person input{
	border-radius:1px;
	padding: 10px 15px;
	width:100%;
    
}
.operations{
    display: inline-block;
    margin-top: 20px;
}
.search_main {
    text-align: center;
}
.new_body .button {
    background-color: #eeeeee;
    border-radius: 2px;
    padding: 5px 20px 5px 20px;
    border: none;
    color: #666666;
    font-size: 16px;
    height: 41px;
    float: right;
    margin: 10px;
 	box-shadow: 0px 2px #f2f2f2;
}
.search_footer{
	background-color: #888888;
    color: #fff;
    padding: 20px;
    text-align: center;

	
}
.menu_left{
    list-style: none;
    display: inline-flex;
}
.menu_right{
    list-style: none;
    display: inline-flex;
	float:right;
}
.menu_left li{
	margin-left:20px;
	
}
.menu_right li{
	margin-left:20px;
}
.site-button{
	background-color: #01BFE3 !important;
    border: medium none !important;
    border-radius: 30px !important;
    color: white !important;
    font-size: 16px !important;
    margin: 4px;
    min-width: 150px;
    padding: 6px 15px !important;
    font-family: tahoma;
}
.bottom-area .pagination{
    margin: 22px 10px;
}
.site-button:hover{
	background-color: #2579a9 !important;
}
h3.main-heading {
    font-family: SourceSansPro;
    font-weight: bold;
    padding: 5px 15px;
}
.left {
    float: left;
}
.right {
    float: right !important;
}
.profile-area form {
    padding: 25px;
}
.profile-area .control-label {
    font-weight: normal;
    text-align: left !important;
}
.profile-area input[type="checkbox"] {
    display: inline-block;
    height: auto;
    margin: 5px;
    width: unset;
}
.form-group .form-button {
    background-color: #dddddd;
    border: medium none;
    border-radius: 20px;
    color: #333;
    font-size: 16px;
    padding: 5px 22px;
    text-align: center;
}
.pages-content {
    padding: 25px 10px;
    background-color: #fafafa;
}
.top-options {
    background-color: #f2f2f2;
    margin: 0 15px;
    padding: 20px;
    width: calc(100% - 30px) !important;
}
.top-options .gender {
    display: inline-block;
    margin: 10px 0;
}
.gender > span {
    padding: 0 10px;
}
.top-options select {
    border-radius: 7px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: normal;
    min-width: 150px;
    height: 36px;
}
.bottom-area .block {
    background-color: #f2f2f2;
    height: 170px;
    margin: 5px auto;
}
.block .image-section {
    height: 100%;
    padding: 0;
}
.block img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-right: 3px solid #fff;
}
.block .content-section{
	padding: 15px;
}
.bottom-area {
    display: inline-block;
    padding: 5px 25px;
}
.image-small {
    float: left;
    margin: 0px 2px 0 5px;
}
li.profile-name {
    color: #444;
    font-family: sourcesanspro;
    font-size: 16px;
    text-transform: capitalize;
    vertical-align: top;
    /*padding: 10px 20px 8px 25px;*/
    padding: 6px 20px 8px 25px;
}
.profile-name > span {
    line-height: 40px;
    padding: 10px;
}
.right-links .dropdown-toggle.login-name {
    height: 40px;
    margin: 8px 5px 5px;
}
.inner-white {
    background-color: #fafafa;
    padding: 20px 25px;
}
.inner-white h3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;
}
.setting_right .inner-white span p {
    display: inline-block;
    margin-left: 12px;
    line-height: 35px;
}
.form-heading {
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 10px 0;
}
.form-heading .fa {
    margin-right: 10px;
    font-size: 36px;
    vertical-align: 0;
}
.setting_right .inner-white > span {
    display: block;
    margin-top: 35px;
    cursor: pointer;
}
.setting_right .inner-white > span:first-child {
    margin-top: 0;
}
.setting_right .fa {
    vertical-align: middle;
}
.profile-area .settings-left form {
    padding: 0px;
}
.short-page .fa {
    font-size: 36px;
    margin-right: 10px;
    vertical-align: 0px;
}
.short-page {
    background-color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    padding: 25px;
}
.faq .panel.panel-default {
    border: medium none;
    box-shadow: none;
    padding-left: 15px;
}
.faq {
    background-color: #fff;
    max-width: unset;
    font-family: arial;
}
.panel-collapse.collapse {
    background-color: #eee;
    margin: 0 20px;
}
/*.faq .panel.panel-default::before {
    content: "*";
    font-size: 34px;
    font-weight: bold;
    margin-right: 5px;
    position: absolute;
}*/
.faq .panel-heading{
    padding: 10px;
}
.faq .panel-group {
    padding: 0 0 0 20px;
}
.inactive {
    display: inline-block;
}
.active .active {
    display: inline-block !important;
}
.panel-title > a {
    text-decoration: none;
}
.active .inactive {
    display: none;
}
.profile-area .location form {
    padding: 0;
}
.inputt {
    display: inline-block;
    margin-left: 10px;
    width: 32%;
}
.main-block {
    display: inline-block;
    width: 100%;
}
.friend-block > p{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
}
.friend-block > img{
    background-color: #f1efef;
    display: inline-block;
    height: 50px;
    margin: 5px 11px 5px 5px;
    vertical-align: middle;
    width: 50px;
}
.friend-block .fa-check-circle {
    color: #19c8e9;
    position: absolute;
    right: 50px;
}
.friend-block .fa-times-circle {
    color: #cccccc;
    position: absolute;
    right: 10px;
}
.friend-block i {
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
    top: 10px;
}
.friend-block {
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    position: relative;
    padding-left: 0px !important;
    margin-right: 15px;
}
.friend-block.request {
    float: unset !important;
}
.main-block .main-heading {
    margin: 0 0 20px;
    padding: 0;
}
.main-block {
    border-bottom: 1px solid #dedede;
    display: inline-block;
    padding: 20px 0;
    width: 100%;
}
.friend-heading {
    border-bottom: 1px solid #dedede;
    font-family: sourcesanspro;
    font-size: 16px !important;
    font-weight: lighter !important;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px 0 20px !important;
}
.friend-block .fa-comment {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 10px;
}
.friend-block.all-one i {
    background-color: #cccccc;
    border-radius: 20px;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    vertical-align: middle;
}
.friend-block .fa-plus-circle {
    color: #cccccc;
    position: absolute;
    right: 20px;
    top: 10px;
}
.friend-block.you-may i {
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
}
.friend-block.request.active {
    background-color: #f0f0f0;
    border-right: medium none;
    float: left !important;
    margin-right: 0 !important;
}
/*.message_box {
    float: left;
    left: 25%;
    position: absolute;
    top: 0;*/
}
.bigger-block {
    display: inline-block;
    width: 100%;
}
.message-blocks {
    min-height: 700px;
    position: relative;
}
.contact-message { 
    resize: none;
 }


@media screen and (max-width:1550px) and (min-width: 1200px){
    .photos .photo-div{
        width: 20%;
    }
    .safari .col-md-2.sidebar{
        width: 20%;
    }
    .safari .container-high > .row .col-md-10{
        width: 80%;
    }
}
@media screen and (max-width:1420px) and (min-width: 1280px){
    .notification li{
        padding: 5px 8px !important;
    }
    .main-menuu .right-links{
        margin-right: 55px !important;
    }
    li.profile-name{
        padding: 10px 10px 8px;
    }
    .profile-name > span {
        padding: 10px 5px;
    }
}

@media screen and (max-width:1400px) and (min-width: 1200px){
    .main-block .friend-block{
        width: 30%;
    }
}


@media screen and (max-width:1366px) and (min-width: 992px){
	.sidebar i{
		width: 22px;
	}
	.msg_no{
		right: 10px;
	}
	.desktop .right-header {
	    margin-left: 270px;
	}
	.menu li{
		padding: 15px 10px;
	}
    .safari .col-md-2.sidebar{
        width: 30%;
    }
    .safari .container-high > .row .col-md-10{
        width: 70%;
    }
}
@media screen and (max-width:1280px) and (min-width: 992px){
	.sidebar li{
		font-size: 16px;
	}
	.sidebar li a{
		padding: 15px 10px;
	}
}
@media screen and (max-width:1280px) and (min-width: 768px){
	.no-guest {
	    background-color: #fff;
	    height: 150px;
	}
}
@media screen and (max-width:1400px){
    .content .subscriptions {
        width: 100%;
    }
}
@media screen and (max-width:1280px) {
	.main-menuu .left-links {
		left: 25%;
	    position: absolute;
	    top: 80px;
	}
    .inputt {
        width: 40%;
    }
	
}
@media screen and (max-width:1200px){
	.block .content-section{
		padding: 5px 15px;
	}
	/*.message_box{
		left: 33%;
	}*/

}

@media screen and (max-width:1050px){
	.main-menuu .left-links {
		left: 20%;
	}
}
@media screen and (max-width:1124px) and (min-width: 992px){
    .message_box{
        width: 370px;
    }
    .message_list{
        width: 250px;
    }
    .setting_right .inner-white{
        padding: 20px 15px
    }
    .settings-left .margin-200 {
        margin-left: 0px !important;
        width: 100%;
    }
    .friend-block {
        width: 42% !important;
    }
}
@media screen and (max-width:991px){
	.sidebar{
		min-height: unset !important;
	}
	.sidebar .navbar-collapse.collapse {
	    display: none !important;
	}
	.sidebar .navbar-collapse.collapse.in {
	    display: block !important;
	}
	.bottom-area .block{
		height: 200px;
	}
	.main-menuu .left-links {
	    left: 15%;
	}
	/*.message_box{
		left: 33%;
	}
	.message_box{
		width: 420px;
		left: 42%;
	}*/
    .subscription_item .image-area {
        background-color: #dddddd;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 200px;
        object-fit: cover;
        position: relative;
        margin: 10px auto;
    }
    .col-md-2.sidebar.navbar.navbar-default {
        height: auto !important;
        margin-bottom: 0;
    }
    .photo-div .image {
        height: 230px;
        margin: 20px auto;
        box-shadow: 5px 5px 10px #333;
    }
    .photo-div .image > img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    .min-heiii{
        min-height: 750px !important;
    }
    .col-md-10.profile-area {
        display: inline-block;
        width: 100%;
    }
    .col-md-10.profile-area.subs {
        min-height: 750px !important;
    }
}
@media screen and (max-width:850px){
	.main-menuu .left-links {
	    left: 8%;
	}
    .message_box{
        width: 370px;
    }
    .message_list{
        width: 250px;
    }
}
@media screen and (max-width:810px){
    .main-menuu .left-links {
        left: 4%;
    }
}
@media screen and (max-width:767px){
	.nav.navbar-nav.navbar-right a {
	    border-bottom: 1px solid #d3e0e9;
	}
	.nav.navbar-nav.navbar-right{
		margin-top: 0px;
	}
	.container-high.desktop{
		display: none !important;
	}
	.container-high.mobile{
		display: block !important;
        padding: 0 2% !important;
	}
	.mobile .navbar-header {
	    padding: 15px;
	}
	.mobile-logo {
	    width: 100%;
	    text-align: center;
	}
	.mobile-logo img {
	    width: 60%;
	}
	.mobile .navbar-toggle{
		margin-top: 14px;
		margin-right: 5px;
	}
	.container{
		margin: 20px !important;
	}
	.block .content-section{
		display: inline-block;
	}
	.bottom-area .block {
	    height: auto;
	}
	.mobile .mobile-noti {
	    display: inline-block;
	    width: 100%;
	}
	.bigger-block .friend-block.request{
		display: none;
	}
	/*.message_box {
	    left: 10%;
	    width: 80%;
	}*/
    #app .search_main {
        min-height: 400px;
    }
    .min-heiii{
        min-height: 500px !important;
    }
    .sidebar .navbar-header {
        margin: 0 2%;
        width: 96%;
    }
    .col-md-2.sidebar.navbar.navbar-default{
        background-color: #fff !important;
    }
    .sidebar .navbar-header {
        border-bottom: 10px solid #01bfe3;
        border-top: 1px solid #01bfe3;
        margin: 0 2%;
        width: 96%;
    }
    .nav.navbar-nav.navbar-right a {
        border-bottom: 1px solid #01bfe3;
    }
    .nav.navbar-nav.navbar-right li:last-child a {
        border-bottom: 0 none;
        padding-bottom: 3px;
    }
    .mobile .navbar-collapse.collapse {
        border: medium none;
    }
    .nav.navbar-nav.navbar-right li:first-child a {
        border-top: 1px solid #01bfe3;
    }

}
@media screen and (max-width:720px){
    .message_box{
        width: 300px;
    }
    .message_list{
        width: 180px;
    }
}
@media screen and (max-width:640px){
	body > .container {
	    min-height: 600px;
	}
    .inputt {
        width: 58%;
    }
}
@media screen and (max-width:580px){
    .message_list {
        width: 100%;
    }
    .message_box {
        width: 100%;
        margin-left: 0;
    }
    .message-blocks {
        display: inline-table;
        width: 100% !important;
    }
    .message_list ul li.active{
        border: 1px solid #dddddd;
        width: 100%;
    }
    .search_footer ul.footer_menu {
        line-height: 12px;
    }
}
@media screen and (max-width:520px){
	.new_body{
		width: 100%;
		padding: 0 20px;
	}
	.new_body .logo img {
	    width: 80%;
	}
	.new_body .button {
	    font-size: 14px;
	    margin: 4px;
	    padding: 5px 8px;
	    height: 35px;
	}
	.mobile-logo{
		min-width: 250px;
	}
	.site-button{
		min-width: 90px;
	}
	body > .container {
	    min-height: 480px;
	}
	.chart1 .col1 {
	    width: 35%;
	}
	html body {
	    font-size: 14px;
	}
	.profile-des{
		margin: 0px;
	}
	.chart2 .col1 {
	    width: 40%;
	}
	.search-pages .col1{
		width: 25%;
	}
	.message_box {
	    width: 100%;
	    left: 0px;
	}
    .activities li span {
        padding-bottom: 6.5px;
        display: -webkit-inline-box;
        line-height: 0px;
    }
    .footer_menu{
        display: inline !important;
    }
}
@media screen and (max-width:420px){
	body > .container {
	    min-height: 350px;
	}
	li.profile-name{
		font-size: 14px;
	}
    .subscriptions .subscription_item {
        float: unset;
        margin: 0 auto;
        width: 80%;
    }
    .photos .photo-div{
        float: unset;
        margin: 0 auto;
        width: 80%;
    }
    .photos {
        width: 100%;
    }
}
@media screen and (max-width:380px){
	.new_body .button{
		float: unset;
	}
	.mobile-logo{
		margin-top: 3px;
		min-width: 220px;
	}
	.mobile .notification li{
		padding: 5px 8px;
	}
	li.profile-name{
		font-size: 12px;
	}
    .subscriptions .subscription_item {
        width: 90%;
    }
    .photos .photo-div{
        width: 90%;
    }
    .h3, h3 {
        font-size: 18px !important;
    }
}
@media screen and (min-width:768px){
	.navbar-nav > li > a{
	 	background-color: #4584ed;
	    border: medium none;
	    border-radius: 2px;
	    color: white !important;
	    float: right;
	    font-size: 16px;
	    margin: 10px;
	    padding: 10px 15px !important;
	}
	.navbar-nav > li > a:hover{
		background-color: #2579a9 !important;
	}
    .container-high.desktop {
        height: 90px;
    }
    .new_body .text_box{
        min-width: 550px;
    }
    .setting_right {
        padding-right: 0px !important;
    }
    .settings-left {
        padding-left: 0px !important;
    }
	
}
@media screen and (min-width:992px){
	.sidebar .navbar-header{
		display: none;
	}
    .col-md-2.sidebar {
        width: 275px;
        margin-bottom: 0;
        border-radius: 0;
        min-height: 850px !important;
    }
    .container-high > .row .col-md-10{
        width: calc(100% - 280px);
    }
    .fix-width-col-2{
        min-width: 200px !important;
        width: 200px !important;
    }
    form .form-group {
        margin-bottom: 20px;
    }
    .container .col1 {
        width: 120px !important;
    }
    .search-pages .user_details {
        padding-left: 5px;
    }
    .bottom-area .block{
        height: 150px;
        display: inline-block;
        margin: 3px 10px;
        padding: 0px;
    }
    .block .image-section {
        width: 150px;
    }
    .bottom-area .block .image-section {
        width: 145px;
    }
    .search-result .content-section h4 {
        margin: 0 auto 10px;
    }
    .settings-left label {
        width: 200px;
    }
    .margin-200 {
        margin-left: 200px !important;
    }
    .subscription_item {
        background-color: #dddddd;
        float: left;
        height: 192px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-top: 20px;
        position: relative;
        width: 192px !important;
    }
    .photo-div {
        background-color: #b3b3b3;
        box-shadow: 10px 10px #a1a1a1;
        height: 233px;
        margin: 20px 30px;
        padding: 0 !important;
        width: 233px !important;
    }
    .photo-div .image > img {
        width: 100%;
    }
    .profile-area form .col-md-offset-2 {
        margin-left: 200px;
    }
        
}
@media screen and (min-width:1550px){
    .safari .col-md-2.sidebar{
        width: 15%;
    }
    .safari .container-high > .row .col-md-10{
        width: 85%;
    }
}

.main-home-bar #app-navbar-collapse ul.nav.navbar-nav:first-child {
    display: none;
}
.photos-link .site-button{
    margin-left: 30px;
}
.photo h3 {
    margin-bottom: 0;
    padding: 10px 0 15px;
}
form .form-control {
    border-color: #ddd;
    box-shadow: none;
    height: 38px;
    border-radius: 7px;
}
.short-desc{
    font-size: 18px;
    font-weight: bold !important;
    padding-bottom: 12px;
}

.acti-label{
    padding: 0px;
    font-size: 18px;
    font-weight: bold !important;
}
#short-desc.form-control {
    font-size: 16px;
    height: 100px;
    line-height: 18px;
    max-width: 100%;
    resize: none;
}
.search_footer p {
    margin-bottom: 0;
}

.main-home-bar{
    padding: 15px 30px;
}
.search-result h3 {
    font-family: sourcesanspro;
    font-size: 18px;
    margin: 10px 0;
}
.subscriptions h3 {
    margin-bottom: 0;
}
.main-home-bar .home-drop {
    line-height: 40px !important;
    background-color: transparent !important;
    color: #000 !important;
}
.main-home-bar .home-drop:hover {
    line-height: 40px !important;
    background-color: transparent !important;
    color: #000 !important;
}
.noti .fa{
    color: #666666;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 10px;
}
.noti .inner-white h3{
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.photo .fa{
    font-size: 25px;
    margin-left: 25px;
    margin-right: 10px;
}

.form-group .form-button:focus, .form-group .form-button:active{
    outline: none;
}
@media screen and (max-width:490px){
    .custom-j-class{
        margin-bottom: 20px;
        width: 100%;
    }
}


img.remove-icon {
    position: absolute;
    right: -21px;
    height: 30px;
    top: -18px;
    cursor: pointer;
}

.photo-div span{
    display: none;
}

.notification_box ul li.unread_msg{
    color: #000;
}

.user-profile-name {
    position: relative;
    top: -25px;
    background: #fff;
    width: 171px;
    padding: 4px 10px;
    opacity: 0.6;
    color: #000;
}

img.star-icon {
    position: absolute;
    right: 71px;
    height: 30px;
    top: 3px;
    cursor: pointer;
}
.friend-block button {
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
    top: 10px;
    background-color: transparent;
    border: none;
}

.friend-req form{
    padding: 0px !important;
}

.chat_day {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;   
    clear: both; 
}
.chat_day span {
    background: #0CF;
    color: #fff;
    padding: 2px 16px;
    border-radius: 17px;
}


@-moz-document url-prefix() {
    .box1{
        margin-bottom: 90px;
    }
}


#msg_loader {
    position: absolute;
    width: 6%;
    display: none;
}

.message_list ul {
    cursor: pointer;
}

.new_body .button.active{
    background: #0CF;
    color: #fff;
}

#missing_person label{
    float: left;
}

.operations a:hover, .operations a:focus{
    text-decoration: none;
}

#squarespaceModal .modal-header,
#squarespaceModal .modal-footer{
    border:none;
}
#squarespaceModal .modal-footer{
    padding: 0;
}
#squarespaceModal form .form-control {
    border-color: #01c0ec;
    box-shadow: none;
    height: 38px;
    border-radius: 7px;
    border-radius: 0;
    border-top: 0;
    border-left: none;
    border-right: none;
}
.modal-open #squarespaceModal{
        display: flex;
    vertical-align: middle;
    align-items: center;
    align-items: center;
}
#squarespaceModal .modal-dialog {
    width: 350px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    align-self: center;
    vertical-align: middle;
}
.modal-content{
    width: 100%;
    padding: 15px;
}
#squarespaceModal .modal-header span{
        width: 100%;
    display: block;
    font-size: 32px;
}
#squarespaceModal .modal-header span .fa{
 color: #02bde6;
}
#squarespaceModal .modal-content input[type="submit"]{
        background: #02bde6;
    border: none;
    color: #fff;
    margin: 0px auto;
    display: block;
    padding: 6px 25px;
    border-radius: 4px;
}
#squarespaceModal span{
    outline: none!important;
}
#squarespaceModal .modal-content select{
    appearance: none;
 -moz-appearance: none;
 -webkit-appearance: none;
     background: transparent;
    z-index: 999;
    position: relative;
    padding: 0px;
}
#squarespaceModal .modal-content .form-group{
    position: relative;
}
#squarespaceModal .modal-content .form-group:before{
    content: "\f107";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    position: absolute;
       bottom: 12px;
    right: 7px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.operations .btn.btn-primary{
    background-color: #eeeeee;
    border-radius: 2px;
    padding: 5px 20px 5px 20px;
    border: none;
    color: #666666;
    font-size: 16px;
    height: 41px;
    float: right;
    margin: 10px;
    box-shadow: 0px 2px #f2f2f2;
}

.profile_view_button  {
    text-align: center;
    padding: 5px;
    margin: 10px;
    background: #fff;
    font-size: 15px;
}
.profile-left{
    height: 120px;
    border-right: 2px dotted #d3d3d3;
}

#profile_details .nav-tabs>li{
    width: 33.30%;
}
#profile_details .nav-tabs>li>a {
    margin-right: -1px;
    border-radius: 0px;    
}
#profile_details .nav-tabs>li.active>a {
    background: #fff;
}
#profile_details #info .main-heading{
    padding: 6px;
    border-bottom: 1px solid #ddd;
}
#profile_details #info .top-margin{
   display: inline-block;
   width: 100%;
   margin: 10px auto;
}
#profile_details #info .locations .col-md-7, #profile_details #info .locations .col-md-5{
    line-height: normal;
}

#profile_details .user_details{
    border: 1px solid #ddd;
    padding: 0px;
}
#profile_details .padding-none{
    padding: 0px;
}
#profile_details #info #about-info {
    margin-bottom: 25px;
}
#about-info p {
    text-align: justify;
}
#profile_details form{
    margin-top: 20px;
}
#profile_details form .btn {
    padding: 6px 23px;
}
#profile_details #user-photos img{
    width: 100%;
}
#profile_details #user-photos, #profile_details #user-friends {
    margin-bottom: 15px;
    margin-top: 15px;
}
#profile_details #load_more_pics {
    margin-bottom: 15px;
}
.search-result .bottom-area {
    padding: 5px 15px;
}
.search-result .bottom-area .top-options{
    margin: 0px;
    width: 100% !important;
}
.search-result .bottom-area .block{
    margin: 3px auto;
}
.privacy .panel-default > .panel-heading {
    background-color: #ddd;
}
.panel-collapse.collapse{
    background-color: #fff;
    margin: 0px;
}
.privacy-radio label {
    padding: 0 20px;
}
.privacy .panel-default .panel-title > a {
    display: block;
}
#privacy .form-group {
    display: inline-block;
    margin: 10px auto;
    width: 100%;
}
#privacy .btn {
    border-radius: 0px;
    padding: 6px 48px;
}
#privacy .btn-primary {
    background-color: #01BFE3;
    border-color: #01BFE3;
}
.privacy .panel.panel-default {
    margin: 15px auto;
}
